/* font-family: 'Abril Fatface', cursive; */


/* font-family: 'Josefin Sans', sans-serif; */


/* font-family: 'Merriweather', serif; */


/* font-family: 'Fjalla One', sans-serif; */


/* font-family: 'Cantarell', sans-serif; */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    background-color: #7FDBFF;
    height: 100px;
    min-width: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.headerdiv {
    width: 700px;
    /*   background-color: red; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

a {
    /*   padding: 0px 20px; */
    font-size: 30px;
    color: #225588;
    text-decoration: none;
}

a:hover {
    color: #222;
    font-size: 35px;
}

main {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #3D9970;
}

.container2 {
    max-width: 800px;
    font-size: 18px;
    line-height: 32px;
}

.secs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.container1 {
    color: rgb(1, 119, 103);
    width: 320px;
    height: 450px;
    background: url("https://instagram.fbud4-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/21227371_1078630622267594_2872044390317031424_n.jpg?_nc_ht=instagram.fbud4-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=yXsZdRngd2oAX_PtDZ5&oh=cfa37fead153dd39d37a13a9719064d2&oe=5EBFF50D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    font-family: "Abril Fatface", cursive;
    /*   background: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*   margin: 0px 0px 0px 0px; */
}

.namediv {
    margin: 0px 0px 20px 50px;
    /*   position: fixed;
  position: absolute; */
    /*   top: 300px; */
}

.namep {
    flex-wrap: nowrap;
    /*   background: green; */
    line-height: 70px;
    font-size: 35px;
    margin: 0px;
    line-height: 50px;
}

small {
    /*   background: blue; */
    line-height: 70px;
    margin: 0px;
    line-height: 50px;
    font-size: 70px;
}

ul {
    list-style-type: square;
    font-size: 15px;
    margin: 0px;
    line-height: 20px;
}

ul.a {
    font-size: 18px;
    line-height: 25px;
}


/* .uppercase{
  text-transform: uppercase;
  font-size: 25px;
  color: #85144B;
  margin: 50px 0px 50px 0px;
  font-weight: bold;
} */

.thick {
    margin: 40px 0px 20px 0px;
    padding: 0px;
    line-height: 25px;
    font-size: 23px;
}

i {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: bold;
}

.paragrpahs {
    font-family: "Abril Fatface", sans-serif;
    background: #225588;
    color: #7FDBFF;
    display: flex;
    height: auto;
    /* margin: auto; */
    position: relative;
    /* margin: 30px 0px 0px 0px; */
    margin: 50px;
    /*   max-height: 500px; */
    transform: rotate(90deg);
    width: auto;
    height: 220px;
}

.para {
    /* transform: rotate(-90deg); */
    text-transform: uppercase;
    /* width: 220px; */
    height: auto;
    background: #333;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    /* margin: 0px 0px 0px 0px; */
    margin: 50px;
}


/* .quotation{
  color:red;
  position: fixed;
  position: absolute;
  top: 53px;
  left: 8px;
  transform: rotate(-180deg);
  letter-spacing: -7px;
  font-size: 120px;
  margin: 0px;
} */

strong {
    color: #85144B;
    font-size: 22px;
}

.texts {
    font-size: 14px;
}