body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    background-color: rgba(122, 206, 13, 0.1);
}

header {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    background-color: rgb(73, 185, 230);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
}

.headerdiv {
    background-color: hotpink;
    width: 95%;
    height: 80px;
    margin: 5px auto;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    align-items: center;
}

.buttonHolder {
    background-color: greenyellow;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    background-color: rgb(144, 80, 190);
    font-size: 25px;
    color: #225588;
    text-decoration: none;
    padding: 2px;
    margin: 6px;
}

a:hover {
    margin: 0;
    color: #222;
    font-size: 27px;
}


/*
.headerdiv .inactive {
    cursor: default;
    color: rgb(117, 117, 117);
}

.headerdiv .inactive:hover {
    padding: 0px 20px;
    font-size: 30px;
    text-decoration: none;
}
*/


/* MAIN */

main {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: #3D9970;
}

.container2 {
    max-width: 800px;
    font-size: 18px;
    line-height: 32px;
}

.secs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    /* bottom: 10px; */
}

.container1 {
    color: rgb(1, 119, 103);
    width: 320px;
    height: 450px;
    background: url("https://instagram.fbud4-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/21227371_1078630622267594_2872044390317031424_n.jpg?_nc_ht=instagram.fbud4-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=yXsZdRngd2oAX_PtDZ5&oh=cfa37fead153dd39d37a13a9719064d2&oe=5EBFF50D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    font-family: "Abril Fatface", cursive;
    /*   background: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*   margin: 0px 0px 0px 0px; */
}

.namediv {
    margin: 0px 0px 20px 50px;
    /*   position: fixed;
  position: absolute; */
    /*   top: 300px; */
}

.namep {
    flex-wrap: nowrap;
    /*   background: green; */
    line-height: 70px;
    font-size: 35px;
    margin: 0px;
    line-height: 50px;
}

small {
    /*   background: blue; */
    line-height: 70px;
    margin: 0px;
    line-height: 50px;
    font-size: 70px;
}

ul {
    list-style-type: square;
    font-size: 15px;
    margin: 0px;
    line-height: 20px;
}

ul.a {
    font-size: 18px;
    line-height: 25px;
}