/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'Cantarell', sans-serif; */
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  background-color: #7FDBFF;
  height: 100px;
  min-width: 800px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerdiv{
  width: 700px;
/*   background-color: red; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
a{
/*   padding: 0px 20px; */
  font-size: 30px;
  color: #225588;
  text-decoration: none;
}
a:hover {
  color: #222;
  font-size: 35px;
}

main{
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: #3D9970;
}
.container2{
  max-width: 800px;
  font-size: 18px;
  line-height: 32px;
}
.secs{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container1{
  color: #001F3F;
  width: 320px;
  height: 450px;
  background: url("https://scontent.fbud4-1.fna.fbcdn.net/v/t31.0-8/p960x960/18814481_10207522057769159_4335756755238304686_o.jpg?_nc_cat=109&_nc_sid=85a577&_nc_ohc=4LV5y0_lQeQAX_VHDAR&_nc_ht=scontent.fbud4-1.fna&_nc_tp=6&oh=364ad93e3c819c4bc1356e7961f17217&oe=5EBCAADA");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  font-family: "Abril Fatface", cursive;
/*   background: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
/*   margin: 0px 0px 0px 0px; */
}
.namediv{
  margin: 0px 0px 20px 50px;
/*   position: fixed;
  position: absolute; */
/*   top: 300px; */
}
.namep{
/*   background: green; */
  line-height: 70px;
  font-size: 35px;
  margin: 0px;
  line-height: 50px;
}
small{
/*   background: blue; */
  line-height: 70px;
  margin: 0px;
  line-height: 50px;
  font-size: 70px;
}
ul {
  list-style-type: square;
  font-size: 15px;
  margin: 0px;
  line-height: 20px;
}
ul.a{
  font-size: 18px;
  line-height: 25px;
}
.uppercase{
  text-transform: uppercase;
  font-size: 25px;
  color: #85144B;
  margin: 50px 0px 50px 0px;
  font-weight: bold;
}
.thick{
  margin: 40px 0px 20px 0px;
  padding: 0px;
  line-height: 25px;
  font-size: 23px;
}
i{
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: bold;
}
.paragrpahs{
  font-family: "Abril Fatface", sans-serif;
  background: #225588;
  color: #7FDBFF;
  display: flex;
  margin: auto;
  position: relative;
  margin: 30px 0px 0px 0px;
/*   max-height: 500px; */
}
.para{
  width: 220px;
/*   background: #333; */
/*   display: flex;
  align-items: center;
  justify-content: center;  */
  font-size: 45px;
  line-height: 70px;
  margin: 50px 50px 50px 50px;
}
.quotation{
/*   color:red; */
  position: fixed;
  position: absolute;
  top: 53px;
  left: 8px;
  transform: rotate(-180deg);
  letter-spacing: -7px;
  font-size: 120px;
  margin: 0px;
}
strong{
  font-size: 22px;
}
.texts{
  font-size: 14px;
}